<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>연습문제 6</title>
<style>
	div{
		width:350px;
		border:2px solid orange;
	}
	div ol{
		list-style-type:none;
		padding:10px 30px 10px 30px;
	}
	li span{
		font-size:2em;
		font-style: italic;
		font-weight: bold;
		color:green;
		position: absolute; 
	}
	li p{
		padding-left: 50px;
	}
</style>
</head>
<body>
<h3>카푸치노</h3>
<hr>
<div>
<h2 style="text-align:center">카푸치노 만드는 순서</h2>
<ol>
	<li><span>1.</span> <p>에스프레소를 추출한다. 반드시 에스프레소콩을 사용해야 제맛이 난다.
	<li><span>2.</span> <p>적당한 용기에 우유를 넣어 중탕을 하거나 끓기 직전까지 데운다.
	<li><span>3.</span> <p>몇초간 저어 충분히 거품을 낸다. 거품이 충분하지 않으면 풍미가 떨어진다.
	<li><span>4.</span> <p>컵에 계피 막대를 꽂고 커피를 부은 후 우유 거품을 붓는다. 휘핑크림을 얹고 계피가루를 뿌린다.
</ol>
</div>
</body>
</html>