<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>연습문제 9</title>
<style>
	#title{
		background-color:aliceblue;
		border:solid aliceblue;
		padding-top:5px;
		border-radius:10px;
		margin:10px;
		box-shadow:7px 7px 10px gray;
	}
	
	table{
		width:50%;
		border:3px solid black;
		border-collapse : collapse;
	}
	
	th,td{
		width:20%;
	}
	
	td:hover{
		background-color:gray;
	}
</style>
</head>
<body>
<div id="title">
	<h1><strong>Wi-Fi</strong></h1>
	<h2><strong>IEEE 802.11ac and IEEE 802.11ax</strong></h2>
</div>

<h2>Brief introduction</h2>
<details>
	<summary>IEEE 802.11ac</summary>
	<p>IEEE802.11ac is an amendment to IEEE 802.11, published in December 2013, that build on 802.11n. The 802.ac standard
	was retroactively labelled as Wi-Fi 5 by the Wi-Fi Alliance.
</details>
<details>
	<summary>IEEE 802.11ax</summary>
	<p>IEEE802.11ax is the successor to 802.11ac, marketed as Wi-Fi 6(2.4GHz and 5GHz) by the Wi-Fi Alliance. It is also 
	known as High Efficiency Wi-Fi, for the overall improvements to Wi-Fi 6 clients under dense environments.
</details>

<h2>Comparsion</h2>
<table border="1">
	<thead style="background-color:aliceblue; color:blue; height:50px;">
		<tr><th>Protocol</th><th>Release data</th><th>Frequency</th><th>Bandwidth</th><th>Data rate</th></tr>
	</thead>
	
	<tbody>
		<tr><td rowspan="4">IEEE 802.11ac</td><td rowspan="4">Dec.2013</td><td rowspan="4">5GHz</td><td>20MHz</td><td>Up to 346.8 Mbps</td></tr>
		<tr><td>40MHz</td><td>Up to 800 Mbps</td></tr>
		<tr><td>80MHz</td><td>Up to 1733.2 Mbps</td></tr>
		<tr><td>160MHz</td><td>Up to 3466.8 Mbps</td></tr>
		
		<tr><td rowspan="4">IEEE 802.11ax</td><td rowspan="4">Feb.2014</td><td rowspan="4">2.4, 5, 6GHz</td><td>20MHz</td><td>Up to 1147 Mbps</td></tr>
		<tr><td>40MHz</td><td>Up to 2294 Mbps</td></tr>
		<tr><td>80MHz</td><td>Up to 4803 Mbps</td></tr>
		<tr><td>80+80MHz</td><td>Up to 9608 Mbps</td></tr>
	</tbody>
</table>
</body>
</html>