@charset "UTF-8";

body{
	background-color:aliceblue
}

h1{
	color:brown;text-align:center
}

p{
	font-family:휴먼편지체;
	font-size:1em;
	text-indent:1em;
}

hr{
	height:1px;
	background-color:black
}

header h2{
	color:blue;
	text-shadow:1px 1px 5px skyblue
}

ul{
	border-style:dotted;
	border-width:1px;
	border-color : black
}

ul li a{
	text-decoration:none
}